<h2>1907 - 1954</h2>
<h2>Coyoacán, Mexico City</h2>

<div class='container'>
    <img src='https://media.vogue.fr/photos/5c2f474e14f2f3cf7b8e34f4/3:4/w_1278,h_1704,c_limit/004_frida_kahlo_brows_vogue_int_getty_images_jpg_7867.jpg'</>
    <div class='text'>
    <p>Around 200 known paintings, including 55 self-portraits</p>
    <p>Frida contracted Polio as a child, leaving her bedridden for 9 months</p>
    <p>Aged 18, Frida survived a serious bus crash which ultimately led her to abandoning the study of Medicine</p>
    <p>She took up painting during a long recovery, beginning with self-portraits</p>
    <p>Frida was inspired by Mexican heritage and folk culture, and her painting is known for its vibrant colours and references to nature</p>
    <p>However, Frida experienced great suffering throughout her life and her art also depicts themes of gender, class, race, poor health, fertility issues, her bus crash and death</p>
    <p>Frida's legacy is her strong sense of self, her creation despite her struggle, standing up for what she believed in and a reminder that there is strength in vulnerability</p>
    </div>
</div>